.App {
	text-align: center;
	height: 100vh;
	font-size: calc(10px + 2vmin);
	display: flex;
	flex-direction: column;
}

.App-header {
	background-color: #282c34;
	color: white;
}

h1,
p {
	margin: 0;
}

.App-link {
	color: #61dafb;
}
